*{
    margin: 0;
    padding: 0;
}

#parent{
    width: 100%;
    min-height: 500px;
}
#gauche{
    width: 33.33%;
    min-height: 500px;
   float: left;
   padding: 20px;
   box-sizing: border-box;
}

#droite{
 width: 33.33%;
    min-height: 500px;
   float: right; 
   float: left;
   padding: 20px;
   box-sizing: border-box;
}
#milieu{
    width: 33.33%;
    min-height: 500px;
   float: right; 
   float: left;
   padding: 20px;
   box-sizing: border-box;
}

#gauche img, #droite img,#milieu img{
    width: 100%;
}