*{
    margin:0;
    padding: 0;
}
header{
width: 1000px;
height: 200px;
border: 1px solid black;
margin: auto;
}
nav{width: 1000px;
height: 40px;
border: 1px solid black;
margin: 15px auto;
}
main{
width: 1000px;
min-height: 600px;
border: 1px solid black;
margin: auto;
}
footer{
width: 1000px;
height: 50px;
border: 1px solid black;
margin:15px  auto 0 auto;

}
#logo{
    width: 25%;
    height: 200px;
    background: rgba(245, 8, 205, 0.746);
    border: 1px solid black;
    float: left;
}
#slogan{
    width: 60%;
    height: 200px;
    background: rgb(127, 219, 6);
    border: 1px solid black;
    float: right;
}
#pub{
    width: 20%;
    min-height:600px ;
    background: red;
    float: left;
}
#contenu{
    width: 80%;
    min-height:600px ;
    background: rgb(73, 255, 1);
float: right;
}

nav ul{
   list-style: none; 
}
nav ul li  {
border:2px solid purple;
width: 200px;
float: left;
text-align: center;
height: 40px;
} 
