body{
    background: url(images/maxresdefault.jpg) no-repeat ;
    background-size: cover;
}
header{
 width: 1000px;
 background-color: grey; 
 margin: auto;/*center un bloc*/
}
header img{
   width: 100%; 

}
main{
    width: 1000px;
    height: 800px;  
    background-color: rgb(197, 193, 193); 
    margin: auto;
}
nav{
    width: 1000px;
    background-color: hotpink;
    margin: auto;
    height: 40px;
}
footer{
    width: 1000px;
    height: 50px;  
    background-color: rgb(161, 160, 160); 
    margin: auto;
   }