ul{
list-style: none;
background-color: rgb(250, 214, 250);
}

ul li{
    border: 2px solid black;
   padding: 10px;
   width: 100px;
   text-align: center;
   background-color: rgb(114, 5, 87);
   float: left;
}
ul li a {
    color: rgb(252, 200, 252);
    text-decoration: none;
}
li:hover{
    background-color: rgb(248, 117, 248);
}
li:hover a {
    color: purple;
}
